<h2>Celebrity Details</h2>

<p><span>Name: </span>{{name}}</p>
<p><span>Occupation: </span>{{occupation}}</p>
<p><span>Catchphrase: </span>{{catchPhrase}}</p>

<a href='/celebrities/{{this._id}}/edit'>Edit</a>