<h2>Create new movie</h2>
<form action='/movies' method='POST'>
  <label for='title-input'>Title</label>
  <input id='title-input' type='text' name='title' />
  <label for='genre-input'>Genre</label>
  <input id='genre-input' type='text' name='genre' />
  <label for='plot-input'>Plot</label>
  <input id='plot-input' type='text' name='plot' />
  <button>Create</button>
</form>